body {
    margin: 2rem;
    padding: 2rem;
    font-family: 'Inter', sans-serif;
    background-color: white;
    align-items: center;
    text-align: center;
}

/* Container styles */
main{
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
}

/* Title styles */
h1 {
    color: #6227FD;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
}

h2 {
    color: black;
    font-size: 24px;
}

/* Question box styling */
.question-box {
    padding: 30px 20px;
    background-color: #F3F2FF;
    border-radius: 24px;
    border: 2px solid #6227FD;
    text-align: center;
    margin-bottom: 40px;
    gap: 24px;
}

.topic-title {
    color: #6227FD;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    text-align: center;
}

.question-text {
    font-size: 20px;
    color: #181B1E;
    font-weight: 400;
}

/* Arrow button styles */
.arrow-left,
.arrow-right {
    font-size: 24px;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 20px;
}

.arrow-left {
    left: 20px;
}

.arrow-right {
    right: 20px;
}

#timer {
    color: var(--Bunker-950, #181B1E);
    font-size: 86px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.next-button {
    padding: 12px 32px;
    background-color: black;
    border-radius: 28px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    margin-top: 24px;;
}

/* For smaller screens */
@media (max-width: 768px) {
    .question-container {
        padding: 10px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    .topic-title {
        font-size: 20px;
    }

    .question-text {
        font-size: 18px;
    }

    .answer-box {
        font-size: 16px;
    }

    .next-button {
        font-size: 18px;
    }
}