/* General styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: white;
}

/* Container styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 300px;
}

/* Content area */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

/* Image styles */
.image {
    width: 160px;
    height: 160px;
}

/* Text content styles */
.text-content {
    text-align: center;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 64px;
    font-weight: 400;
    word-wrap: break-word;
}

.title-bold {
    font-size: 64px;
    font-weight: 700;
    color: #181B1E;
}

.text-regular {
    color: #181B1E;
}

.text-bold {
    color: #6227FD;
    font-weight: 700;
}

.subtitle {
    font-size: 32px;
    font-weight: 400;
    color: #7A8D96;
}

/* Button styles */
.button-container {
    background-color: black;
    padding: 12px 32px;
    border-radius: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.start-button {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none; /* Remove underline */
    background: none;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #333; /* Change background on hover */
}

/* Level options */
.level-options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 36px; /* Space above the level options */
}

/* Button styles for levels */
.level-button {
    padding: 12px 32px;
    background-color: #EAE7FF;
    border-radius: 28px;
    color: #5718E9;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none; /* Remove underline from links */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.level-button:hover {
    background-color: #D1CFFF; /* Change color on hover */
}